/target/
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
vscode/node_modules/
vscode/out/
dependency-reduced-pom.xml

.DS_Store
vscode/inferIDE-0.0.1.jar
vscode/inferide-0.0.1.vsix
infer-out/report.json
infer-out/results.db
.settings/org.eclipse.jdt.apt.core.prefs
